Repository LhonRafaat/nestjs-mongoose-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*.ts": ["prettier --write", "eslint --fix", "eslint"],
  "*json": ["prettier --write"]
}

chore: release v1.5.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: update readme
  README.md
Due: none

feat: add cookie parser and initialize it
  package-lock.json
  package.json
  src/main.ts
Due: prettier --write, eslint --fix, eslint

refactor: small fix
  src/main.ts
Due: prettier --write, eslint --fix, eslint

feat: add clear cookies on logout
  src/modules/auth/auth.controller.ts
Due: prettier --write, eslint --fix, eslint

feat: upgrade nest v12
  .github/workflows/build-nestjs.yml
  .husky/commit-msg
  .husky/pre-commit
  .swcrc
  Dockerfile
  README.md
  docker-compose.yml
  eslint.config.mjs
  nest-cli.json
  package-lock.json
  package.json
  src/app.module.ts
  src/common/guards/google.guard.ts
  src/common/guards/jwt.guard.ts
  src/common/guards/refresh.guard.ts
  src/common/helper/query-middleware.ts
  src/config.type.ts
  src/main.ts
  src/metadata.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/dto/login.payload.ts
  src/modules/auth/dto/oauth-register-payload.ts
  src/modules/auth/dto/register.payload.ts
  src/modules/auth/strategies/google.strategy.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/auth/strategies/refresh.strategy.ts
  src/modules/auth/test/auth.controller.e2e-spec.ts
  src/modules/auth/test/auth.controller.spec.ts
  src/modules/auth/test/google.strategy.spec.ts
  src/modules/users/dto/update-user.payload.ts
  src/modules/users/test/users.controller.e2e-spec.ts
  src/modules/users/test/users.service.spec.ts
  src/modules/users/user.schema.ts
  src/modules/users/users.module.ts
  src/modules/users/users.service.ts
  src/seed.ts
  src/seeder.module.ts
  test/jest-e2e.json
  tsconfig.json
Due: prettier --write, eslint --fix, eslint

feat: enhance query system with filtering, searching, and pagination capabilities
  README.md
  src/common/decorators/query.decorator.ts
  src/common/helper/common-types.ts
  src/common/helper/operators.ts
  src/common/helper/query-filter.ts
  src/common/helper/query-middleware.ts
  src/common/helper/test/query-filter.e2e-spec.ts
  src/common/helper/test/query-filter.spec.ts
  src/common/helper/test/query-middleware.spec.ts
  src/modules/users/users.service.ts
Due: prettier --write, eslint --fix, eslint

chore: release v1.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write
