Repository LhonRafaat/nestjs-mongoose-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc:

{
  "*.ts": ["prettier --write", "eslint --fix", "eslint"],
  "*json": ["prettier --write"]
}

feat: install commitlint
  .husky/commit-msg
  commitlint.config.mjs
  eslint.config.mjs
  package-lock.json
  package.json
Due: prettier --write

refactor: renaming and adding better pagination wip
  src/app.module.ts
  src/common/decorators/query.decorator.ts
  src/common/helper/common-types.ts
  src/common/helper/filteration-middleware.ts
  src/common/helper/operators.ts
  src/common/helper/query-middleware.ts
  src/modules/users/test/users.controller.spec.ts
  src/modules/users/test/users.service.spec.ts
  src/modules/users/users.service.ts
Due: prettier --write, eslint --fix, eslint

feat: install release it && add seed script
  .release-it.json
  package-lock.json
  package.json
Due: prettier --write

feat: refactor query middleware to implement strapi style
  src/common/helper/operators.ts
  src/common/helper/query-middleware.ts
Due: prettier --write, eslint --fix, eslint

refactor: adjust usersservice find to new query implementation
  src/modules/users/users.controller.ts
  src/modules/users/users.service.ts
Due: prettier --write, eslint --fix, eslint

refactor: remove unused vars & imports
  src/common/guards/abilities.guard.ts
  src/common/helper/common-types.ts
  src/modules/auth/auth.controller.ts
  src/modules/auth/auth.module.ts
  src/modules/auth/dto/register.payload.ts
  src/modules/auth/strategies/refresh.strategy.ts
  src/modules/users/test/users.controller.e2e-spec.ts
  src/modules/users/test/users.controller.spec.ts
  src/modules/users/test/users.service.spec.ts
Due: prettier --write, eslint --fix, eslint

refactor: update query decorator
  eslint.config.mjs
  src/common/decorators/query.decorator.ts
Due: prettier --write, eslint --fix, eslint

feat: add release script
  package.json
Due: prettier --write

build: update version
  package.json
Due: prettier --write

chore: release v1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: fix mock request
  src/modules/users/test/users.controller.spec.ts
  src/modules/users/test/users.service.spec.ts
Due: prettier --write, eslint --fix, eslint

docs: update readme
  README.md
Due: none

Update README.md
  README.md
Due: none

feat: update query middleware
  src/common/helper/common-types.ts
  src/common/helper/query-middleware.ts
  src/modules/users/users.service.ts
Due: prettier --write, eslint --fix, eslint

Create codeql.yml
  .github/workflows/codeql.yml
Due: none

refactor: change any usage to warn
  eslint.config.mjs
Due: none

feat: add google env variables
  .env.example
  src/config.type.ts
Due: prettier --write, eslint --fix, eslint

feat: isntall google o auth google
  package-lock.json
  package.json
Due: prettier --write

feat: add google strategy
  src/app.module.ts
  src/modules/auth/strategies/google.strategy.ts
Due: prettier --write, eslint --fix, eslint

feat: add new oauth fields to user schema & make pw optional
  src/modules/users/user.model.ts
  src/modules/users/user.schema.ts
Due: prettier --write, eslint --fix, eslint

feat: add google auth register payload
  src/modules/auth/dto/oauth-register-payload.ts
Due: prettier --write, eslint --fix, eslint

feat: add googleAuthGuard
  src/common/guards/google.guard.ts
Due: prettier --write, eslint --fix, eslint

feat: add google & callback route
  src/modules/auth/auth.controller.ts
Due: prettier --write, eslint --fix, eslint

feat: add handle googlecallback service
  src/modules/auth/auth.service.ts
Due: prettier --write, eslint --fix, eslint

feat: add create user with provider service
  src/modules/auth/dto/register.payload.ts
  src/modules/auth/strategies/google.strategy.ts
  src/modules/users/users.service.ts
Due: prettier --write, eslint --fix, eslint

feat: add setCookies for web
  src/modules/auth/auth.controller.ts
  src/modules/auth/strategies/jwt.strategy.ts
Due: prettier --write, eslint --fix, eslint

refactor: update tests
  src/modules/auth/test/auth.controller.spec.ts
Due: prettier --write, eslint --fix, eslint

refactor: return auth responses explicitly
  src/modules/auth/auth.controller.ts
Due: prettier --write, eslint --fix, eslint

chore: release v1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: fix package conflicts
  package-lock.json
  package.json
Due: prettier --write

fix: update tsConfigRootDir
  eslint.config.mjs
Due: none

feat: add extract from cookie to refresh
  src/modules/auth/strategies/refresh.strategy.ts
Due: prettier --write, eslint --fix, eslint

refactor: update user dto rename
  src/modules/users/dto/update-user.dto.ts
  src/modules/users/dto/update-user.payload.ts
Due: prettier --write, eslint --fix, eslint

feat: add swagger plugin to nest cli
  nest-cli.json
  src/modules/users/users.service.ts
Due: prettier --write, eslint --fix, eslint

refactor: remove old decorators
  src/common/decorators/query.decorator.ts
Due: prettier --write, eslint --fix, eslint

chore: install openapi generator cli
  openapitools.json
  package-lock.json
  package.json
Due: prettier --write

feat: add swagger metadata
  src/main.ts
  src/metadata.ts
Due: prettier --write, eslint --fix, eslint

chore: update version
  package.json
  src/modules/users/users.service.ts
Due: prettier --write, eslint --fix, eslint
